<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"></head>
<body>
    <div>
        <nav th:replace="/fragments/nav :: nav"></nav>
    </div>

    <center>
        
        <div id="titulo" class="col-11 row">
            
            <div class="col-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-layout-text-window-reverse" viewBox="0 0 16 16">
                    <path d="M13 6.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5zm0 3a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5zm-.5 2.5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1h5z"/>
                    <path d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM2 1a1 1 0 0 0-1 1v1h14V2a1 1 0 0 0-1-1H2zM1 4v10a1 1 0 0 0 1 1h2V4H1zm4 0v11h9a1 1 0 0 0 1-1V4H5z"/>
                </svg>
            </div>
            
            <center class="col-10">
                    <h2>Ingresar editoriales a la base de datos</h2>
            </center>
            
            <div class="col-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-layout-text-window-reverse" viewBox="0 0 16 16">
                    <path d="M13 6.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5zm0 3a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5zm-.5 2.5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1h5z"/>
                    <path d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM2 1a1 1 0 0 0-1 1v1h14V2a1 1 0 0 0-1-1H2zM1 4v10a1 1 0 0 0 1 1h2V4H1zm4 0v11h9a1 1 0 0 0 1-1V4H5z"/>
                </svg>
            </div>
            
        </div>
    
    </center>
    
    <div class="row justify-content-center fixdivleft">
        
        <div class="formulario col-3"  style="height: fit-content">
        
            <form th:action="@{/registrareditoriales}" method="POST">
            
                <div class="form-group">
                  <label for="nombreeditorial">Nombre de la editorial</label>
                  <input name="nombre" type="text" class="form-control" aria-describedby="emailHelp" th:value="${nombre}" id="nombreeditorial" placeholder="Nombre de la editorial">
                </div>

                <p class="error" th:if="${error != null}" th:text="${error}"></p>
                <p class="exito" th:if="${exito != null}" th:text="${exito}"></p>

                <button type="submit" class="btn btn-primary">Guardar</button>
                <button id="redbutton" type="reset" class="btn btn-danger">Limpiar</button>
                <a th:href="@{/editorialeslista}"><button type="button" class="btn btn-warning boton">Modificar</button></a>
            </form>
        </div>
        <div class="col-8 formulario">
            <center><h4>Lista de editoriales ingresadas</h4></center>
            <table class="">
                <thead>
                    <tr style="color:yellow; font-family: Verdana">
                        <th>EDITORIAL</th>
                        <th>ALTA</th>
                    </tr>
                </thead>
                <tbody>

                    <tr th:each="editorial: ${editoriales}">
                        <th th:text="${editorial.nombre}"></th>

                        <th>
                            <a th:href="@{bajaeditorial/__${editorial.id}__}"><button type="button" class="btn btn-success" th:if="${editorial.alta}" th:text="${alta}" style="color:white"></button></a>
                            <a th:href="@{altaeditorial/__${editorial.id}__}"><button type="button" class="btn btn-danger" th:unless="${editorial.alta}" th:text="${baja}" style="color:white"></button></a> 
                        </th>

                    </tr>
                </tbody>
            </table>
        </div> 
    </div>

<div th:replace="/fragments/contact :: div"></div>   
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>
</html>