<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"></head>
<body>
    <nav class="navbar navbar-expand-lg navbar" style=" border-bottom: 1px solid white; margin-bottom: 10px; background-color: background: rgb(0,0,0); background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(96,93,93,1) 90%) !important;"> 
        
        <div class="dropdown" sec:authorize="hasRole('ADMIN')">
            <button th:text="${session.usuariosession.nombre + ' ' + session.usuariosession.apellido}" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false" style="background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(104 104 104) 150%); "></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(104 104 104) 150%); border: 1px solid white">
                <a class="dropdown-item dpd" href="/libro" >Administrar Libreria</a>
            </div>
        </div>
            
        <div sec:authorize="hasRole('USER')" style="color: white; padding: 7px ;border: 2px solid white; border-radius: 5px;" >
            <p style="margin: 0;" th:text="${session.usuariosession.nombre + ' ' + session.usuariosession.apellido}"></p>
        </div>
        
        <div sec:authorize="hasRole('USER')" style="border: 2px solid white; padding: 7px; border-radius: 5px; margin-left: 5px;">
            <form action="/prestamosusuario" method="POST">
                <input hidden th:value="${session.usuariosession.id}" name="idusuario">
                <button type="submit" style="background: none; border: none;"><a class="nav" id="inicioPrestamo" th:text="${'Mis prestamos'}" style="text-decoration: none;"></a></button>
            </form>
        </div>
            
        <div class="col"></div>
        
        <div style="margin-left: 10px;">
            <a th:href="@{/logout}"><button type="button" class="btn btn-danger">Cerrar Sesion</button></a>
        </div>
    </nav>
    
    <center>
        <div class="col-11" sec:autorize="hasRole('ADMIN')" style="padding: 0; border: white solid 2px; height: fit-content; font-family: monospace; background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(104 104 104) 150%); text-align: justify " >
            <div align="center">
                <h1 class="col-6" style="color: yellow">Bienvenido a la librería</h1>
            </div>
            
            <div style="padding: 10px; margin: 0; margin-top: 10px; border-top: solid 2px white">
                <h2>
                    Aquí, con el rol de administrador, podrá guardar libros, editoriales, autores, y gestionar los préstamos que los usuarios soliciten. Para comenzar a ingresar datos, presione en "Administrar Librería" en el menú superior izquierdo.
                </h2>
            </div>
            
        </div>
    </center>
    
    <center sec:authorize="hasRole('USER')">
        <div id="titulo" class="col-11 row">
            
            <div class="col-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                </svg>
            </div>
            
            <center class="col-10">
                    <h2>Libros disponibles en la librería</h2>
            </center>
            
            <div class="col-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                </svg>
            </div>
            
        </div>
    </center>
   
   <div class="row justify-content-center fixdivleft" sec:authorize="hasRole('USER')">
    <div class="col-11 formulario">
        <table>
            <thead>
                <tr style="color:yellow; font-family: Verdana; font-size: 17px">
                    <th>TÍTULO</th>
                    <th>AUTOR</th>
                    <th>EJ. DISPONIBLES</th>
                    <th>AÑO</th>
                    <th>EDITORIAL</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="libro: ${libros}">
                    <th th:text="${libro.titulo}"></th>
                    <th th:text="${libro.autor.nombre}"></th>
                    <th th:text="${libro.ejemplaresRestantes}"></th>
                    <th th:text="${libro.anio}"></th>
                    <th th:text="${libro.editorial.nombre}"></th>
                </tr>
            </tbody>
        </table>
        <center><a th:href="@{/useregistroprestamo}"><button type="button" class="btn btn-warning boton" style="margin-top: 5px">Solicitar Préstamo</button></a></center>
    </div>  
   </div>

<div th:replace="/fragments/contact2 :: div"></div>
   
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    
</body>
</html>