<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"></head>
<body>
    <nav class="navbar navbar-expand-lg navbar" style=" border-bottom: 1px solid white; margin-bottom: 10px; background-color: background: rgb(0,0,0); background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(96,93,93,1) 90%) !important;"> 
        <a th:href="@{/}">
            <button type="button" class="btn btn-primary">Iniciar Sesion</button>
        </a>
    </nav>
    
    <center>
        <div id="titulo" class="col-6 row">
            
            <div class="col-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                </svg>
            </div>
            
            <center class="col-10">
                    <h2>Registrarse en la librería</h2>
            </center>
            
            <div class="col-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                </svg>
            </div>
            
        </div>
    </center>

    <div class="row justify-content-center fixdivleft" >
        <div class="formulario col-6"  style="height: fit-content">
        
            <form action="/registro" method="POST">
                
            <div class="form-group">
              <label for="nombre">Nombre del Usuario</label>
              <input name="nombre" type="text" class="form-control" aria-describedby="emailHelp" th:value="${nombre}" id="nombre" placeholder="Nombre">
            </div>
                
            <div class="form-group">
              <label for="apellido">Apellido del Usuario</label>
              <input name="apellido" type="text" class="form-control" aria-describedby="emailHelp" th:value="${apellido}" id="apellido" placeholder="Apellido">
            </div>
                
            <div class="form-group">
              <label for="email">Email del Usuario</label>
              <input name="email" type="email" class="form-control" aria-describedby="emailHelp" th:value="${email}" id="email" placeholder="Email">
            </div>
                
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input name="password" type="password" class="form-control" aria-describedby="emailHelp" th:value="${password}" id="password" placeholder="Contraseña">
            </div>
                
            <div class="form-group">
              <label for="password2">Repetir Contraseña</label>
              <input name="password2" type="password" class="form-control" aria-describedby="emailHelp" th:value="${password2}" id="password2" placeholder="Repetir Contraseña">
            </div>
            
            <p class="error" th:if="${error != null}" th:text="${error}"></p>
            <p class="exito" th:if="${exito != null}" th:text="${exito}"></p>
            
            <button type="submit" class="btn btn-primary">Registrarse</button>
            <button id="redbutton" type="reset" class="btn btn-danger">Limpiar</button>
          </form>
        </div>
    </div>

<center style>
    <div class="col-11" style="padding: 0;">
        <p style="margin-top: 10px; font-family: monospace; color: green">This application was developed by: Xavier Pocchettino</p>
    </div>
</center>
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>
</html>