<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"></head>
<body>
    <div>
        <nav th:replace="/fragments/nav :: nav"></nav>
    </div>
    
    <center>
        
        <div id="titulo" class="col-11 row">
            
            <div class="col-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                </svg>
            </div>
            
            <center class="col-10">
                    <h2>Registrar clientes en la base de datos</h2>
            </center>
            
            <div class="col-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                </svg>
            </div>
            
        </div>
    
    </center>

    <div class="row justify-content-center fixdivleft" >
          </form>
    <div class="col-11 formulario">
        <center><h4>Lista de clientes ingresados</h4></center>
        <table class="">
            <thead>
                <tr style="color:yellow; font-family: Verdana">
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th>EMAIL</th>
                    <th>ACCIONES</th>
                    <th>ALTA</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuario: ${usuarios}" class="datostable">
                    <th th:text="${usuario.nombre}"></th>
                    <th th:text="${usuario.apellido}"></th>
                    <th th:text="${usuario.email}"></th>
                    <th>
                        <a th:href="@{/modificarusuario/__${usuario.id}__}"><button type="button" class="btn btn-warning boton">Modificar</button></a>
                        <a th:href="@{/eliminarusuario/__${usuario.id}__}"><button type="button" class="btn btn-danger boton">Eliminar</button></a>
                    </th>
                    <th>
                        <a th:href="@{/bajausuario/__${usuario.id}__}"><button type="button" class="btn btn-success" th:if="${usuario.alta}" th:text="${alta}" style="color:white"></button></a>
                        <a th:href="@{/altausuario/__${usuario.id}__}"><button type="button" class="btn btn-danger" th:unless="${usuario.alta}" th:text="${baja}" style="color:white"></button></a>
                    </th>
                    
                </tr>
                
            </tbody>
            
        </table>
        <p class="error" th:if="${error != null}" th:text="${error}" style="margin: 0; margin-top: 5px; padding: 0;"></p>
        <p class="exito" th:if="${exito != null}" th:text="${exito}" style="margin: 0; margin-top: 5px; padding: 0;"></p>
    </div>
          
    </div>

<div th:replace="/fragments/contact2 :: div"></div>
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>
</html>