<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"></head>
<body>
    <nav class="navbar navbar-expand-lg navbar" style=" border-bottom: 1px solid white; margin-bottom: 10px; background-color: background: rgb(0,0,0); background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(96,93,93,1) 90%) !important;"> 
        
        <div style="color: white; padding: 7px ;border: 2px solid white; border-radius: 5px;" >
            <p style="margin: 0;" th:text="${session.usuariosession.nombre + ' ' + session.usuariosession.apellido}"></p>
        </div>
        
        <div class="col"></div>
        
        <div style="margin-left: 10px;">
            <a th:href="@{/logout}"><button type="button" class="btn btn-danger">Cerrar Sesion</button></a>
        </div>
    </nav>
    
    <center>
        <div id="titulo" class="col-11 row">
            
            <div class="col-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                </svg>
            </div>
            
            <center class="col-10">
                    <h2>Libros disponibles en la librería</h2>
            </center>
            
            <div class="col-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                </svg>
            </div>
            
        </div>
    </center>
   
   <div class="row justify-content-center fixdivleft">
    <div class="col-11 formulario">
        <table>
            <thead>
                <tr style="color:yellow; font-family: Verdana; font-size: 17px">
                    <th>LIBRO PRESTADO</th>
                    <th>CLIENTE</th>
                    <th>FECHA PRESTAMO</th>
                    <th>FECHA DEVOLUCION</th>
                    <th>ALTA</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="prestamo: ${prestamos}">
                    <th th:text="${prestamo.libro.titulo}"></th>
                    <th th:text="${prestamo.usuario.nombre + ' ' + prestamo.usuario.apellido}"></th>
                    <th th:text="${prestamo.fechaPrestamo}"></th>
                    <th th:text="${prestamo.fechaDevolucion}"></th>
                    
                    <th
                        <a><button type="button" class="btn btn-success" th:if="${prestamo.alta}" th:text="${alta}" style="color:white"></button></a>
                        <a><button type="button" class="btn btn-danger" th:unless="${prestamo.alta}" th:text="${baja}" style="color:white"></button></a>
                    </th>
                </tr>
            </tbody>
        </table>
        <center style="margin-top: 5px;"><a th:href="@{/inicio}"><button name="nombre" type="button" class="btn btn-primary" style="margin-left: 5px;">Volver</button></a></center>
    </div>  
   </div>

<div th:replace="/fragments/contact2 :: div"></div>
   
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    
</body>
</html>